<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Men´s Fashion</title>
</head>

<body>
    <div class="container-principal">

        <header>
            <img src="" alt="">

            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Fale conosco</a></li>
                    <li><a href="">Produtos</a></li>
                </ul>
            </nav>

        </header>
        <section class="img">
            <div>
                <h1>
                    Men’s Fashion
                </h1>
    
                <h3>
                    Respire repense recomece ou diga não!
                </h3>
            </div>
            
        </section>
        <section class="Sobre">
            <div>
                <h1>Sobre a Men’s Fashion</h1>

                <h3>Em mais de 15 anos mais de 1000 homens vestiram men’s fashion!
                    Moda corporativa masculina, o mundo do trabalho</h3>
                    
            </div>
        </section>
    </div>

</body>

</html>